@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.signupOne-bg {
  font-family: 'Roboto', sans-serif;
  background-color: white; }

.nav-signupOne {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6; }
  .nav-signupOne .nav-logo {
    display: flex;
    align-items: center;
    height: 90px;
    margin-left: 3%; }
    .nav-signupOne .nav-logo a img {
      height: 45px; }
  .nav-signupOne .signup {
    height: 90px;
    display: flex;
    align-items: center;
    margin-right: 3%; }
    .nav-signupOne .signup a {
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      color: #333; }
      .nav-signupOne .signup a:hover {
        text-decoration: underline; }
      .nav-signupOne .signup a p {
        font-size: 1.15rem;
        font-weight: 600;
        line-height: 90px; }

.oneStep {
  padding: 42px 0;
  display: flex;
  justify-content: center; }
  .oneStep form {
    width: 440px; }
    .oneStep form .oneStep-text {
      color: #333; }
      .oneStep form .oneStep-text p {
        font-size: .8rem;
        letter-spacing: .05rem; }
      .oneStep form .oneStep-text h1 {
        margin-top: 4px;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: .02rem;
        line-height: 2.5rem; }
      .oneStep form .oneStep-text h2 {
        margin-top: 12px;
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: .015rem; }
    .oneStep form .oneStep-user {
      margin-top: 30px; }
      .oneStep form .oneStep-user .oneStep-email .user-email {
        font-weight: 500;
        letter-spacing: .02rem; }
      .oneStep form .oneStep-user .oneStep-password {
        margin-top: 18px;
        position: relative;
        width: 440px;
        height: 60px; }
        .oneStep form .oneStep-user .oneStep-password input {
          width: 100%;
          height: 100%;
          padding: 10px 0 0 10px;
          border: none;
          box-shadow: inset 0 0 0 1px #8c8c8c;
          font-size: 1rem;
          border-radius: 3px;
          cursor: text; }
          .oneStep form .oneStep-user .oneStep-password input:focus-visible {
            outline: none;
            box-shadow: inset 0 0 0 1px #0071eb; }
          .oneStep form .oneStep-user .oneStep-password input:focus + label .password-label {
            top: 0;
            transform: none;
            padding-top: 6px;
            font-size: .8rem;
            font-weight: 600;
            transition: all .1s; }
        .oneStep form .oneStep-user .oneStep-password label {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          user-select: none;
          cursor: text; }
          .oneStep form .oneStep-user .oneStep-password label .password-label {
            color: #8c8c8c;
            padding-left: 10px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: all .1s; }
          .oneStep form .oneStep-user .oneStep-password label .focusInput {
            top: 0 !important;
            transform: none !important;
            padding-top: 6px;
            font-size: .8rem;
            font-weight: 600;
            transition: all .1s; }
      .oneStep form .oneStep-user .p-password {
        color: #0071eb;
        margin-top: 22px;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: .01rem;
        cursor: pointer; }
        .oneStep form .oneStep-user .p-password:hover {
          text-decoration: underline; }
      .oneStep form .oneStep-user .oneStep-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        width: 100%;
        height: 65px;
        border: none;
        border-radius: 3px;
        background-color: #e50914;
        cursor: pointer; }
        .oneStep form .oneStep-user .oneStep-btn:hover {
          background-color: #f6121d; }
        .oneStep form .oneStep-user .oneStep-btn span {
          font-weight: 500;
          color: white;
          font-size: 1.5rem; }

.body-login {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black; }

.login-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  border-bottom: 8px solid #222; }
  .login-container nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 3%;
    padding: 21px 0; }
    .login-container nav .nav-logo {
      z-index: 1; }
      .login-container nav .nav-logo img {
        height: 46px; }
  .login-container .container {
    display: flex;
    justify-content: center; }
    .login-container .container .background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0, transparent 60%, rgba(0, 0, 0, 0.5));
      user-select: none; }
      .login-container .container .background img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        z-index: -1; }
    .login-container .container .boxLogin {
      display: flex;
      justify-content: center;
      max-width: 450px;
      height: 660px;
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 3px; }
      .login-container .container .boxLogin form {
        z-index: 1;
        padding: 60px 70px; }
        .login-container .container .boxLogin form h1 {
          color: white;
          margin-bottom: 28px; }
        .login-container .container .boxLogin form .incorrect {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 20px;
          width: 100%;
          border: none;
          border-radius: 4px;
          background-color: #e87c03;
          margin-bottom: 15px; }
          .login-container .container .boxLogin form .incorrect p {
            font-size: 14px;
            color: white; }
        .login-container .container .boxLogin form .emailLogin {
          position: relative;
          height: 50px;
          width: 100%;
          overflow: hidden; }
          .login-container .container .boxLogin form .emailLogin input {
            padding: 16px 20px 0;
            width: 100%;
            height: 100%;
            border: none;
            font-size: 1rem;
            border-radius: 4px;
            background-color: #333;
            color: white;
            cursor: text; }
            .login-container .container .boxLogin form .emailLogin input:focus-visible {
              outline: none;
              background-color: #454545; }
            .login-container .container .boxLogin form .emailLogin input:focus + label span {
              top: 0;
              transform: none;
              padding-top: 7px;
              font-size: .7rem;
              font-weight: 500;
              transition: all .1s; }
          .login-container .container .boxLogin form .emailLogin label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            cursor: text; }
            .login-container .container .boxLogin form .emailLogin label .emailSpan {
              font-family: Arial, Helvetica, sans-serif;
              color: #8c8c8c;
              padding-left: 20px;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              transition: all .1s; }
            .login-container .container .boxLogin form .emailLogin label .inputLogin {
              top: 0 !important;
              transform: none !important;
              padding-top: 7px;
              font-size: .7rem;
              font-weight: 500;
              transition: all .1s; }
        .login-container .container .boxLogin form #validEmail {
          margin-bottom: 15px; }
          .login-container .container .boxLogin form #validEmail #email-p {
            color: #e87c03;
            font-size: .8rem;
            padding: 6px 3px; }
        .login-container .container .boxLogin form .passLogin {
          position: relative;
          height: 50px;
          width: 100%;
          overflow: hidden; }
          .login-container .container .boxLogin form .passLogin input {
            padding: 16px 20px 0;
            width: 100%;
            height: 100%;
            border: none;
            font-size: 1rem;
            border-radius: 4px;
            background-color: #333;
            color: white;
            cursor: text; }
            .login-container .container .boxLogin form .passLogin input:focus-visible {
              outline: none;
              background-color: #454545; }
            .login-container .container .boxLogin form .passLogin input:focus + label span {
              top: 0;
              transform: none;
              padding-top: 7px;
              font-size: .7rem;
              font-weight: 500;
              transition: all .1s; }
          .login-container .container .boxLogin form .passLogin label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            cursor: text; }
            .login-container .container .boxLogin form .passLogin label .passSpan {
              font-family: Arial, Helvetica, sans-serif;
              color: #8c8c8c;
              padding-left: 20px;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              transition: all .1s; }
            .login-container .container .boxLogin form .passLogin label .inputLogin {
              top: 0 !important;
              transform: none !important;
              padding-top: 7px;
              font-size: .7rem;
              font-weight: 500;
              transition: all .1s; }
        .login-container .container .boxLogin form #validPass {
          margin-bottom: 40px; }
          .login-container .container .boxLogin form #validPass #pass-p {
            color: #e87c03;
            font-size: .8rem;
            padding: 6px 3px; }
        .login-container .container .boxLogin form button {
          margin-bottom: 15px;
          padding: 15px 0;
          width: 100%;
          border: none;
          border-radius: 4px;
          background-color: #e50914;
          color: white;
          font-size: 1rem;
          font-weight: 600;
          cursor: pointer; }
        .login-container .container .boxLogin form .signup {
          display: flex;
          justify-content: space-between;
          margin-bottom: 80px; }
          .login-container .container .boxLogin form .signup .record {
            display: flex;
            align-items: center; }
            .login-container .container .boxLogin form .signup .record input {
              margin-right: 5px;
              height: 15px;
              width: 15px; }
            .login-container .container .boxLogin form .signup .record label {
              color: #B3B3B3;
              font-size: .8rem; }
          .login-container .container .boxLogin form .signup a {
            color: #B3B3B3;
            font-size: .8rem;
            text-decoration: none; }
            .login-container .container .boxLogin form .signup a:hover {
              text-decoration: underline; }
        .login-container .container .boxLogin form .first {
          color: #737373;
          margin-bottom: 15px; }
          .login-container .container .boxLogin form .first a {
            margin-left: 5px;
            color: white;
            text-decoration: none; }
            .login-container .container .boxLogin form .first a:hover {
              text-decoration: underline; }
        .login-container .container .boxLogin form .captcha {
          color: #8C8C8C;
          font-size: .8rem; }
          .login-container .container .boxLogin form .captcha span {
            color: #0071eb; }
            .login-container .container .boxLogin form .captcha span:hover {
              text-decoration: underline;
              cursor: pointer; }

.home-body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #141414;
  min-height: 100vh; }

.nav-home {
  background-color: #141414;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
  padding: 0 4%;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav-home .logo-links {
    display: flex;
    align-items: center; }
    .nav-home .logo-links .nav-logo {
      height: 25px; }
      .nav-home .logo-links .nav-logo a {
        font-size: 25px; }
        .nav-home .logo-links .nav-logo a svg {
          height: 25px; }
    .nav-home .logo-links .nav-links {
      margin-left: 44px; }
      .nav-home .logo-links .nav-links ul {
        display: flex;
        list-style: none;
        gap: 18px; }
        .nav-home .logo-links .nav-links ul li:first-child a {
          font-weight: 600;
          color: #fff; }
        .nav-home .logo-links .nav-links ul li a {
          color: #e5e5e5;
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;
          transition: color .4s; }
          .nav-home .logo-links .nav-links ul li a:hover {
            color: #b3b3b3;
            transition: color .4s; }
  .nav-home .search-container .searchInput {
    width: 275px;
    height: 35px;
    display: flex;
    border: 1px solid #e5e5e5;
    background-color: black; }
  .nav-home .search-container #searchInput button {
    border: none;
    background-color: transparent;
    height: 100%;
    padding: 5px 10px 5px 5px;
    cursor: pointer; }
  .nav-home .search-container #searchInput input {
    background-color: transparent;
    color: #e5e5e5;
    font-size: .9rem;
    border: none;
    height: 100%;
    width: 0; }
    .nav-home .search-container #searchInput input:focus-visible {
      outline: none; }
    .nav-home .search-container #searchInput input::placeholder {
      color: #8c8c8c;
      font-size: .9rem; }

.search-div {
  padding: 60px 4% 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #141414;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-content: normal;
  justify-content: center; }
  .search-div .pelicula {
    width: 210px;
    margin: 5px;
    border-radius: 5px; }
    .search-div .pelicula .pelicula-img {
      width: 100%;
      border-radius: 5px; }
  .search-div p {
    color: #e5e5e5;
    font-size: 1rem; }

.slick-list {
  overflow: inherit;
  padding: 0 4% !important; }

.container {
  min-height: 100vh;
  position: relative;
  overflow: hidden; }
  .container .movies {
    position: relative;
    margin: 3vw 0; }
    .container .movies:hover > .arrow_prev svg, .container .movies:hover > .arrow_next svg {
      width: 35%; }
    .container .movies:hover > .slider .slick-dots {
      opacity: 1; }
    .container .movies h1 {
      margin: 0 4% 0.5em;
      color: #e5e5e5;
      font-size: 1.4vw; }
    .container .movies .slider .slick-dots {
      width: initial;
      position: absolute;
      top: -20px;
      right: 0;
      bottom: initial;
      margin-right: 4%;
      display: flex;
      opacity: 0; }
      .container .movies .slider .slick-dots .slick-active button {
        background-color: #aaa !important; }
      .container .movies .slider .slick-dots li {
        width: 12px !important;
        height: 2px !important;
        margin: 0 2px !important; }
        .container .movies .slider .slick-dots li button {
          width: 12px !important;
          height: 2px !important;
          padding: 0;
          background-color: rgba(255, 255, 255, 0.2); }
          .container .movies .slider .slick-dots li button::before {
            display: none; }
    .container .movies .slider .card {
      border-radius: 5px;
      cursor: pointer; }
      .container .movies .slider .card .cardImg {
        border-radius: 5px;
        width: 100%;
        height: auto; }
    .container .movies .slick-slide {
      padding: 0 .2vw; }
    .container .movies .shadow:before,
    .container .movies .shadow:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 4%;
      top: 0;
      height: 100%;
      pointer-events: none; }
    .container .movies .shadow:before {
      left: 0;
      background: rgba(20, 20, 20, 0.5);
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px; }
    .container .movies .shadow:after {
      right: 0;
      background: rgba(20, 20, 20, 0.5);
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px; }
    .container .movies .arrow_prev {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 4%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      fill: #fff;
      z-index: 2;
      cursor: pointer; }
      .container .movies .arrow_prev svg {
        width: 0;
        transition: all .1s ease; }
        .container .movies .arrow_prev svg:hover {
          transform: scale(1.2);
          transition: all .1s ease; }
    .container .movies .arrow_next {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 4%;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      fill: #fff;
      z-index: 2;
      cursor: pointer; }
      .container .movies .arrow_next svg {
        width: 0;
        transition: all .1s ease; }
        .container .movies .arrow_next svg:hover {
          transform: scale(1.2);
          transition: all .1s ease; }

.bgInfo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%; }
  .bgInfo .movieInfo {
    position: fixed;
    background-color: #141414;
    top: 50%;
    width: 900px;
    min-width: 850px;
    height: 95%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    overflow: hidden; }
    .bgInfo .movieInfo .imgInfo {
      position: relative;
      width: 100%; }
      .bgInfo .movieInfo .imgInfo .backdrop {
        width: 100%; }
      .bgInfo .movieInfo .imgInfo .logoBtns {
        position: absolute;
        margin: 0 0 45px 45px;
        bottom: 0;
        left: 0;
        width: 40%;
        z-index: 3;
        display: flex;
        flex-wrap: wrap; }
        .bgInfo .movieInfo .imgInfo .logoBtns .divLogo {
          width: 100%;
          max-height: 150px;
          margin-bottom: 1.5em; }
          .bgInfo .movieInfo .imgInfo .logoBtns .divLogo .logo {
            height: 100%;
            max-width: 100%;
            object-fit: contain; }
        .bgInfo .movieInfo .imgInfo .logoBtns .reproducir {
          background-color: #fff;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 9px 19px;
          border: none;
          border-radius: 5px;
          margin: 0.25em; }
          .bgInfo .movieInfo .imgInfo .logoBtns .reproducir:hover {
            background-color: #e6e6e6 !important;
            cursor: pointer; }
          .bgInfo .movieInfo .imgInfo .logoBtns .reproducir svg {
            margin-right: 10px; }
          .bgInfo .movieInfo .imgInfo .logoBtns .reproducir span {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 16px; }
        .bgInfo .movieInfo .imgInfo .logoBtns .miLista {
          border-radius: 50%;
          margin: 0.25em;
          width: 40px;
          height: 40px;
          background-color: rgba(42, 42, 42, 0.6);
          border: 2px solid rgba(255, 255, 255, 0.5); }
          .bgInfo .movieInfo .imgInfo .logoBtns .miLista:hover {
            border: 2px solid white;
            cursor: pointer; }
          .bgInfo .movieInfo .imgInfo .logoBtns .miLista svg {
            width: 20px;
            height: 20px; }
        .bgInfo .movieInfo .imgInfo .logoBtns .rate {
          border-radius: 50%;
          margin: 0.25em;
          width: 40px;
          height: 40px;
          background-color: rgba(42, 42, 42, 0.6);
          border: 2px solid rgba(255, 255, 255, 0.5); }
          .bgInfo .movieInfo .imgInfo .logoBtns .rate:hover {
            border: 2px solid white;
            cursor: pointer; }
          .bgInfo .movieInfo .imgInfo .logoBtns .rate svg {
            width: 20px;
            height: 20px; }
      .bgInfo .movieInfo .imgInfo .shadowBack {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: linear-gradient(0deg, #141414, transparent 40%); }
    .bgInfo .movieInfo .info {
      padding: 0 45px; }
      .bgInfo .movieInfo .info .sipnosis {
        width: 500px; }
        .bgInfo .movieInfo .info .sipnosis p {
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          color: #fff; }

.index-body {
  font-family: 'Roboto', sans-serif;
  background-color: black; }

.section-one {
  position: relative;
  border-bottom: 8px solid #222; }
  .section-one nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 27px 56px 0 56px; }
    .section-one nav .nav-logo {
      z-index: 1; }
      .section-one nav .nav-logo img {
        height: 46px; }
    .section-one nav .nav-items {
      display: flex;
      z-index: 1; }
      .section-one nav .nav-items .lang {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 25px; }
        .section-one nav .nav-items .lang .globe {
          position: absolute;
          height: 15px;
          left: 0;
          fill: white;
          padding-left: 7px; }
        .section-one nav .nav-items .lang select {
          padding: 9px 25px;
          background-color: rgba(0, 0, 0, 0.4);
          color: white;
          font-size: 0.9rem;
          border: 1px solid #aaa;
          border-radius: 3px;
          appearance: none; }
        .section-one nav .nav-items .lang .arrow {
          position: absolute;
          height: 15px;
          right: 0;
          fill: white;
          padding-right: 7px; }
      .section-one nav .nav-items a {
        margin: auto;
        padding: 10px 16px;
        background-color: #e50914;
        color: white;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        line-height: 1em;
        text-decoration: none;
        cursor: pointer; }
        .section-one nav .nav-items a:hover {
          text-decoration: underline; }
  .section-one .container {
    padding: 150px 0; }
    .section-one .container .background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0, transparent 60%, rgba(0, 0, 0, 0.8));
      user-select: none; }
      .section-one .container .background img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        z-index: -1; }
    .section-one .container .login {
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .section-one .container .login .texto {
        display: block;
        margin: 20px auto 0;
        z-index: 1; }
        .section-one .container .login .texto h1 {
          color: white;
          font-size: 4rem;
          line-height: 4.5rem;
          font-weight: 600;
          letter-spacing: .05rem;
          text-align: center;
          max-width: 800px; }
        .section-one .container .login .texto h2 {
          margin-top: 15px;
          color: white;
          font-size: 1.7rem;
          font-weight: 400;
          text-align: center; }
      .section-one .container .login .email {
        display: block;
        margin: auto;
        z-index: 1; }
        .section-one .container .login .email p {
          margin-top: 30px;
          color: white;
          font-size: 1.25rem;
          font-weight: 400;
          text-align: center; }
        .section-one .container .login .email form {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          height: 70px; }
          .section-one .container .login .email form .box-form {
            position: relative;
            height: 100%;
            width: 500px; }
            .section-one .container .login .email form .box-form input {
              height: 100%;
              width: 100%;
              padding: 10px 0 0 10px;
              box-shadow: inset 0 0 0 1px #aaa;
              border: none;
              font-size: 1rem;
              border-bottom-left-radius: 3px;
              border-top-left-radius: 3px;
              cursor: text; }
              .section-one .container .login .email form .box-form input:focus-visible {
                outline: none;
                box-shadow: inset 0 0 0 1px #0071eb; }
              .section-one .container .login .email form .box-form input:focus + label .placelabel {
                top: 0;
                transform: none;
                padding-top: 6px;
                font-size: .8rem;
                font-weight: 600;
                transition: all .1s; }
            .section-one .container .login .email form .box-form label {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              cursor: text; }
              .section-one .container .login .email form .box-form label .placelabel {
                color: #8c8c8c;
                padding-left: 10px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                transition: all .1s; }
              .section-one .container .login .email form .box-form label .focusInput {
                top: 0 !important;
                transform: none !important;
                padding-top: 6px;
                font-size: .8rem;
                font-weight: 600;
                transition: all .1s; }
          .section-one .container .login .email form button {
            display: flex;
            align-items: center;
            height: 100%;
            border: none;
            box-shadow: inset 0 0 0 1px #0000;
            background-color: #e50914;
            padding: 0 25px 0 30px;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            cursor: pointer; }
            .section-one .container .login .email form button:hover {
              background-color: #f40612; }
            .section-one .container .login .email form button span {
              color: white;
              font-size: 1.9rem;
              font-weight: 500; }
            .section-one .container .login .email form button svg {
              fill: white;
              margin-left: 8px; }
