<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nesquik</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
</head>
<body class="signupOne-bg">
    <nav class="nav-signupOne">
        <div class="nav-logo">
            <a href="../index.html">
                <img src="../img/nesquick.svg" alt="Nesquick Logo">
            </a>
        </div>
        <div class="signup">
            <a href="login.html">
                <p>Iniciar sesión</p>
            </a>
        </div>
    </nav>
    <div class="oneStep">
        <form action="login.html">
            <div class="oneStep-text">
                <p>PASO <b>1</b> DE <b>3</b></p>
                <h1>¡Hola de nuevo!
                <br>Suscribirte a Netflix es fácil.</h1>
                <h2>Ingresa tu contraseña para comenzar a ver al instante.</h2>
            </div>
            <div class="oneStep-user">
                <div class="oneStep-email">
                    <p class="p-email">Email</p>
                    <p class="user-email">cactusajck@gmail.com</p>
                </div>
                <div class="oneStep-password">
                    <input id="password" name="password" type="password" value="" required>
                    <label for="password">
                        <span class="password-label">Ingresa tu contraseña</span>
                    </label>
                </div>
                <p class="p-password">¿Olvidaste tu contraseña?</p>
                <button id="newUser-btn" type="submit" class="oneStep-btn">
                    <span>Siguiente</span>
                </button>
            </div>
        </form>
    </div>

    <script src="../js/signupOne.js"></script>
</body>
</html>